// Doc uses single letter elements, so if this gets extendable, i can write even more cryptic code, ugh.
// a
// b
// i
// p
// q
// s
// u
// because i'm lazy

// $em: 16px;
// $vx: 24px;
// $hx: 1ch;

.document {
  font-family: $font-mono;
  font-size: $em;
  line-height: $vx;
  color: $light;
  background-color: $dark;
}
.rownums {
  text-align: right;
  padding-left: 1ch;
  padding-right: 1ch;
}
.rows {
}
.row {
  padding: 0 .5ch 0;
  border-radius: 4px;
}
i {
  font-style: normal;
  display: inline;
}

.selected {
  // box-shadow: inset 0px 0px 0px 1px currentColor;
  box-shadow: inset 0px 0px 0px 1px white(.8);
  //background-color: $gray3;
}
i.selected {
  padding: 2px 0;
  border-radius: 3px;
}
.focus {

}
:focus {
  outline: none;
}
i.editing {
  padding: 0;
}

.hide-syntax {
  i {
    margin: 0 1ch 0 0 !important;
  }
  i::before,
  i::after {
    display: none !important;
  }
}
//
//Comment
//
.com {
  color: $gray1;
  font-style: italic;

  //Increase specificity with double class name
  &.com > * {
    font-style: inherit;
    color: inherit;
  }
  &.com > *::selection {
    color: white;
    background-color: $light;
  }
}
