// Doc uses single letter elements, so if this gets extendable, i can write even more cryptic code, ugh.
// a
// b
// i
// p
// q
// s
// u
// because i'm lazy


.document {
  font-family: $font-mono;
  font-size: $em;
  line-height: $vx;
  padding: $vx/2 1ch;
  color: $light;
  background: $dark;
}
.rownums {
  text-align: right;
  white-space: nowrap;
  padding-left: 1ch;
  padding-right: 1ch;
}
//
// Regular row
///
.row,
.com {
  white-space: pre;

  i {
    font-style: normal;
    display: inline;
  }
  i::after {
    content: ' ';
  }
  //TODO: make syntax specific styles be a partf of app config so the app is not tied to any particular syntax
  .i1 {
    color: $red;
  }
  .i1::selection {
    color: white;
    background: $red;
  }
  .i2 {
    white-space: nowrap;
    color: $green;
  }
  .i2::selection {
    color: white;
    background: $green;
  }
  .i3 {
    color: $yellow;
    margin-left: 0;
  }
  .i3::selection {
    color: white;
    background: $yellow;
  }
}
//
//Comment
//
.com {
  //Increase specificity with double class name
  &.com > * {
    color: $gray1;
  }
  &.com > *::selection {
    color: white;
    background-color: $light;
  }
}
//
// Document UI States
//
.mode-document .document :focus {
  outline: none;
}
.mode-property .document :focus {
  outline: 1px solid;
  outline-offset: 1px;
}
.selected {
  background: $gray3;
}
.hilite {
  background: $gray3;
}
