$sidebar-width: 220px;

.document {
  margin-right: $sidebar-width;
}
.toolbar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: $sidebar-width;
  background-color: $dark;
  border-top: 1px solid $gray3;
}
.toolbar > * {
  flex: 0 0 auto;
}
.toolbar button {
  text-align: left;
  white-space: nowrap;
  flex: 0 0 auto;
}
