.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%;
}
.document {
  flex: 1 0 auto;
}
.toolbar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  background-color: $dark;
  border: 1px solid $gray3;
  border-width: 1px 0;
}
.toolbar > * {
  flex: 1 0 auto;
}
.toolbar button {
  flex: 0 0 auto;

}
