$light: #f8f8f2;
$lightgray: #828380;
$gray1: #75715e;
$gray2: #49483E;
$gray3: #3e3d32;
$dark: #272822;
$red: #f92772;
$purple: #be84ff;
$green: #a6e22d;
$yellow: #e6db74;
$orange: #f6aa10;
$blue: #66d9ef;

$linkBlue: hsl(198, 49%, 46%);
$hiGreen: hsl(70, 100%, 50%);

$em: 14px;
$vx: 22px;
$hx: 1ch;

//Fonts
$font: sans-serif;
$font-mono: 'Menlo', monospace;
