/*
  TODO: make after/before styling more intelligent, like if an attribute doesn't have a value, don't show the ':', so the ':' should probably be on the value as a before and colored differently, maybe white
*/
[class*="type-"] {
  position: relative;
}
[class*="type-"]::before,
[class*="type-"]::after {
  position: absolute;
}

.type-name {
  color: #f92772;
}

.type-id {
  margin-left: 1ch;
  color: #be84ff;
}
/*//TODO: before/after syntax bits should be added via javascript and be pointer-events:none & user-select: none; so that they're searchable via browsers basic search. This would need updating selection and editing logic so it's not dependent on directly manipupalting the dom. */
.type-id::before {
  content: '#';
  left: -1ch;
  color: #be84ff;
}

.type-class {
  margin-left: 1ch;
  color: #f6aa10;
}
.type-class::before {
  content: '.';
  left: -1ch;
  color: #f6aa10;
}

.type-attribute {
  color: #a6e22d;
}
* + .type-attribute {
  margin-left: 1ch;
}

.type-value {
  color: #e6db74;
  margin-left: 1ch;
}
.type-value::before {
  content: ':';
  left: -1ch;
  color: #a6e22d;
}

.type-text {
  color: white;
}
* + .type-text {
  margin-left: 1ch;
}


