/*
  TODO: make after/before styling more intelligent, like if an attribute doesn't have a value, don't show the ':', so the ':' should probably be on the value as a before and colored differently, maybe white
*/
.type-name {
  color: #f92772;
}

.type-id {
  color: #be84ff;
}
.type-id::before {
  content: '#';
}

.type-class {
  color: #f6aa10;
}
.type-class::before {
  content: '.';
}

.type-attribute {
  color: #a6e22d;
  margin-left: 1ch;
}
.type-attribute::after {
  content: ':';
}

.type-value {
  color: #e6db74;
}

.type-text {
  color: white;
}
* + .type-text {
  margin-left: 1ch;
}


