* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #66d9ef;
}

pre, code {
  font: inherit;
  font-family: "Menlo", monospace;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  line-height: .85em;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: 10px 0px 20px 0;
}

h2 {
  font-weight: 400;
  font-size: 1.8em;
  line-height: .85em;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: 20px 0px 10px 0;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

hr {
  border: 1px solid currentColor;
  border-width: 1px 0px 0px 0px;
  margin: 10px 0px 9px 0px;
  opacity: .3;
}

q::before,
q::after {
  content: '';
}

input,
button,
select,
textarea {
  font: inherit;
  min-height: 48px;
  margin: 0;
  padding: 12px 1ch;
  color: #272822;
  background: #f8f8f2;
  border: none;
  -webkit-font-smoothing: inherit;
}

button {
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  vertical-align: baseline;
  padding: 0 2ch;
  margin: 0;
  color: white;
  background: #272822;
  background: -webkit-linear-gradient(top, #383830, #272822);
  background: linear-gradient(to bottom, #383830, #272822);
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 1px solid #3c8caf;
  outline-offset: -1px;
}

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  height: 100%;
  width: 100%;
}

.document {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.toolbar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.toolbar > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.toolbar button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.document {
  font-family: "Menlo", monospace;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 1ch;
  color: #f8f8f2;
  background: #272822;
}

.rownums {
  text-align: right;
  white-space: nowrap;
  padding-left: 1ch;
  padding-right: 1ch;
}

.row,
.com {
  white-space: pre;
}

.row *::after,
.com *::after {
  content: ' ';
}

.row b,
.com b {
  color: #f92772;
}

.row b::-moz-selection,
.com b::-moz-selection {
  color: white;
  background: #f92772;
}

.row b::selection,
.com b::selection {
  color: white;
  background: #f92772;
}

.row i,
.com i {
  white-space: nowrap;
  color: #a6e22d;
}

.row i::-moz-selection,
.com i::-moz-selection {
  color: white;
  background: #a6e22d;
}

.row i::selection,
.com i::selection {
  color: white;
  background: #a6e22d;
}

.row i::after,
.com i::after {
  content: ':';
}

.row q,
.com q {
  color: #e6db74;
  margin-left: 0;
}

.row q::-moz-selection,
.com q::-moz-selection {
  color: white;
  background: #e6db74;
}

.row q::selection,
.com q::selection {
  color: white;
  background: #e6db74;
}

.com.com > * {
  color: #75715e;
}

.com.com > *::-moz-selection {
  color: white;
  background-color: #f8f8f2;
}

.com.com > *::selection {
  color: white;
  background-color: #f8f8f2;
}

.mode-document .document :focus {
  outline: none;
}

.mode-property .document :focus {
  outline: 1px solid;
  outline-offset: 1px;
}

.selected {
  background: #383830;
}

.hilite {
  background: #383830;
}

/*# sourceMappingURL=elemental.css.map */
